<% include ../partials/header %>
<div class="container">
    <div class="row align-items-center flex-column mt-5">
        <h2 class="">Edit Comment</h2>
        <div style="width: 40%;" class="mt-2">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <label for="commentTextInput">Comment</label>
                    <input type="text" class="form-control" id="commentTextInput" name="comment[text]"
                        value="<%= comment.text %>" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <a href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>

    </div>
</div>
<% include ../partials/footer %>