<% include ./partials/header %>
<div class="container">
    <div class="mx-auto" style="width: 40%;">
        <h1>Sign Up</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" class="form-control" name="username" id="usernameInput" placeholder="Username"
                    required>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password"
                    required>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ./partials/footer %>